body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


.d-background {
  background-color: lightblue;
}

.header {
  /*background-image: url("");*/
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

#header-text {
  color: black;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}

h1 {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: black;
  font-family: 'Titillium web', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

h3 {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px;
  text-align: center;
}

h4 {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 20px;
}

.logo {
  border-radius: 25px;
  display: block;
  margin: auto;
}


.high {
  color: blue;
}

.med {
  color: hotpink;
}

.low {
  color: red;
}

.awl {
  color: limegreen;
}

.partner {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee;
}

.main {
  /*background: url("");*/
  margin: 0;
  padding: 40px;
  color: black;
}

.value-props {
  margin: 40px auto;
  width: 60%;
}

.prop {
  color: #CCC;
  border: 1px solid #FFF;
  padding: 40px 0px;
  margin: 5px 0px;
  text-align: center;
}

.prop h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #CCC;
}

.button {
    background-color: lightblue;
    border: 2px solid;
    border-radius: 15px;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

.home-button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  border-radius: 15px;
  color: lightblue;
  background-color: grey;
  border-color: lightblue;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: grey;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: lightblue;
    color: white
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

body {
  background-image: url("/images/outerbackground.png");
}

.inner-background {
  background-image: url("/images/innerbackground.jpg");
  background-color: lightgray;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}