<!DOCTYPE html>
<html lang="en">
  <!-- CSS stylesheets -->
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>VIRS</title>
  </head>
  <body ng-app="VIRS">
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>    
    
  <!--Home Page State -->
     <script type="text/ng-template" id="/home.html">
      <div ng-controller="MainCtrl">     

          <div id= "header-text">
            <h1>VIRS</h1>
            <h2>Analyze your text</h2>
            </div>


        <div >
 
            <div class="col-sm-12 col-md-5">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Please upload picture here</h3>
                </div>
              </div>

          </div>

          <div class="col-sm-12 col-md-20">
              <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-body">   
                      <h3>Insert your text here</h3>
                    </div>
                  </div>
              </div>
           </div>

            <div class="col-sm-12 col-md-20">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <ul>
                      <strong>
                          <li><a href="#/k1"> <button type="submit" class="button">High frequency</button> </a></li>
                          <li><a href="#/k2"> <button type="submit" class="button">Medium Frequency</button> </a></li>
                          <li><a href="#/awl"> <button type="submit" class="button">AWL</button> </a></li>
                          <li><a href="#/offlist"> <button type="submit" class="button">Low Frequency</button> </a></li>
                        </strong>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-20">
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h3>Empty placeholder</h3>
                    </div>
                  </div>
                </div>
               </div>
            </div>
          </div>
        </script>
        
        <!--K1 words page state-->
        <script type="text/ng-template" id="/k1.html">
          <div >
            <h2>
               K1 WORDS
            </h2>
            <div class="col-sm-12 col-md-20">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div ng-repeat="word in words | orderBy: '-upvotes'">
                      {{ word.word }}
                    </div>
                    <form ng-submit="addWord()">
                      <input type="text" placeholder="Word title" ng-model="title"></input>
                      <br>
                      <input type="text" placeholder="Definition" ng-model="definition"></input>
                      <br>
                      <button type="submit">Post</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <!--K2 words page state-->
        <script type="text/ng-template" id="/k2.html">
          <div >
            <h2>
               K2 WORDS
            </h2>
            <div class="col-sm-12 col-md-20">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div ng-repeat="word in words | orderBy: '-upvotes'">
                      {{ word.word }}
                    </div>
                    <form ng-submit="addWord()">
                      <input type="text" placeholder="Word title" ng-model="title"></input>
                      <br>
                      <input type="text" placeholder="Definition" ng-model="definition"></input>
                      <br>
                      <button type="submit">Post</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <!--Offlist words page state-->
        <script type="text/ng-template" id="/offlist.html">
          <div >
            <h2>
               Offlist WORDS
            </h2>
            <div class="col-sm-12 col-md-20">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div ng-repeat="word in words | orderBy: '-upvotes'">
                      {{ word.word }}
                    </div>
                    <form ng-submit="addWord()">
                      <input type="text" placeholder="Word title" ng-model="title"></input>
                      <br>
                      <input type="text" placeholder="Definition" ng-model="definition"></input>
                      <br>
                      <button type="submit">Post</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <!--AWL words page state-->
        <script type="text/ng-template" id="/awl.html">
          <div >
            <h2>
               AWL WORDS
            </h2>
            <div class="col-sm-12 col-md-20">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div ng-repeat="word in words | orderBy: '-upvotes'">
                      {{word.family}} 
                    </div>
                    <form ng-submit="addWord()">
                      <input type="text" placeholder="Word title" ng-model="title"></input>
                      <br>
                      <input type="text" placeholder="Definition" ng-model="definition"></input>
                      <br>
                      <button type="submit">Post</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>
        
  </body>
    
    <!-- External libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    
    <!-- Angular App -->
    <script src="/javascripts/angularApp.js"></script>
    
    <!-- Angular Controllers -->
    <script src="/javascripts/controllers.js"></script>
    
    <!-- Angular Routes -->
    <script src="/javascripts/routes.js"></script>

    <!-- Angular Services -->
    <script src="/javascripts/services.js"></script>
    
    
</html>